<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="keywords" content="Java" />
    <meta name="generator" content="Aspose.Words for .NET 23.10.0" />
    <title>Программист C++</title>
    <style type="text/css">
        body {
            line-height: 115%;
            font-family: Calibri;
            font-size: 11pt
        }

        p {
            margin: 0pt 0pt 10pt
        }

        li,
        table {
            margin-top: 0pt;
            margin-bottom: 10pt
        }

        .BalloonText {
            margin-top: 0pt;
            margin-bottom: 0pt;
            text-align: left;
            line-height: normal;
            widows: 2;
            orphans: 2;
            font-family: Tahoma;
            font-size: 8pt;
            color: #000000
        }

        .BodyText {
            margin-top: 0pt;
            margin-bottom: 7pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 11pt;
            color: #000000
        }

        .Caption {
            margin-top: 6pt;
            margin-bottom: 6pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 12pt;
            font-style: italic;
            color: #000000
        }

        .Default {
            text-align: left;
            widows: 0;
            orphans: 0;
            font-family: Arial;
            font-size: 11pt;
            color: #000000
        }

        .Footer {
            margin-top: 0pt;
            margin-bottom: 10pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 11pt;
            color: #000000
        }

        .FrameContents {
            margin-top: 0pt;
            margin-bottom: 10pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 11pt;
            color: #000000
        }

        .Header {
            margin-top: 0pt;
            margin-bottom: 10pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 11pt;
            color: #000000
        }

        .Heading {
            margin-top: 12pt;
            margin-bottom: 6pt;
            text-align: left;
            page-break-after: avoid;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: 'Liberation Sans';
            font-size: 14pt;
            color: #000000
        }

        .Index {
            margin-top: 0pt;
            margin-bottom: 10pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 11pt;
            color: #000000
        }

        .List {
            margin-top: 0pt;
            margin-bottom: 7pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 11pt;
            color: #000000
        }

        .ListParagraph {
            margin-top: 0pt;
            margin-left: 36pt;
            margin-bottom: 10pt;
            text-indent: 0pt;
            text-align: left;
            line-height: 115%;
            widows: 2;
            orphans: 2;
            font-family: Calibri;
            font-size: 11pt;
            color: #000000
        }

        .TableContents {
            text-align: left;
            widows: 0;
            orphans: 0;
            font-family: 'Liberation Sans';
            font-size: 14pt;
            font-weight: bold;
            font-style: italic;
            color: #000000;
            background-color: #ffcc99
        }

        .Textbody {
            margin-top: 0pt;
            margin-bottom: 6pt;
            text-align: left;
            line-height: normal;
            widows: 0;
            orphans: 0;
            font-family: 'Liberation Sans';
            font-size: 14pt;
            font-weight: bold;
            font-style: italic;
            color: #000000;
            background-color: #ffcc99
        }

        span.FollowedHyperlink {
            text-decoration: underline;
            color: #800080
        }

        span.InternetLink {
            text-decoration: underline;
            color: #0000ff
        }

        span.ListLabel100 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel109 {
            font-family: Arial;
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel110 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel111 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel112 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel113 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel114 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel115 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel116 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel117 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel118 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel128 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel137 {
            font-family: Arial;
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel138 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel139 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel140 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel141 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel142 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel143 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel144 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel145 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel146 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel22 {
            font-family: Arial;
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel23 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel24 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel25 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel26 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel27 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel28 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel29 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel30 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel40 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel42 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel51 {
            font-family: Arial;
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel52 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel53 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel54 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel55 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel56 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel57 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel58 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel59 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel60 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel69 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel71 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel80 {
            font-family: Arial;
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel81 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel82 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel83 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel84 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel85 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel86 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel87 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel88 {
            font-size: 10pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #000000
        }

        span.ListLabel89 {
            font-family: Arial;
            font-size: 10pt
        }

        span.ListLabel98 {
            font-family: Arial;
            font-size: 10pt
        }

        span.UnresolvedMention {
            color: #808080;
            background-color: #e6e6e6
        }

        span.a {
            font-size: 11pt
        }

        span.a0 {
            font-size: 11pt
        }

        span.a1 {
            font-family: Tahoma;
            font-size: 8pt
        }

        .TableGrid {}
    </style>
</head>

<body>
    <div>
        <p style="margin-bottom:0pt; line-height:normal; font-size:16pt; font-weight:bold">Парфенов Алексей</p>
        <div style="text-align:right">
            <table cellspacing="0" cellpadding="0" class="TableGrid"
                style="width:195.4pt; margin-left:auto; margin-bottom:0pt; -aw-border-insideh:0.5pt single #000000; -aw-border-insidev:0.5pt single #000000; border-collapse:collapse">
                <tr>
                    <td style="width:51.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p style="margin-bottom:0pt; text-align:justify; font-size:10pt"><span
                                style="font-family:Arial">Проживание</span></p>
                    </td>
                    <td style="width:119.8pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p class="Default" style="margin-bottom:0pt"><span>г. Челябинск</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:51.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p style="margin-bottom:0pt; text-align:justify; font-size:10pt"><span
                                style="font-family:Arial">Email </span></p>
                    </td>
                    <td style="width:119.8pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p class="Default" style="margin-bottom:0pt"><a href="mailto:aparfenov2@yandex.ru"
                                style="text-decoration:none"><span class="InternetLink">kantengri3@gmail.com</span></a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:51.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p style="margin-bottom:0pt; text-align:justify; font-size:10pt"><span
                                style="font-family:Arial">LinkedIn</span></p>
                    </td>
                    <td style="width:119.8pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p class="Default" style="margin-bottom:0pt"><a href="https://www.linkedin.com/in/aparfenov2/"
                                style="text-decoration:none"><span
                                    class="InternetLink">linkedin.com/in/aparfenov2</span></a></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:51.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p style="margin-bottom:0pt; text-align:justify; font-size:10pt"><span
                                style="font-family:Arial">Blog</span></p>
                    </td>
                    <td style="width:119.8pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p class="Default" style="margin-bottom:0pt"><a href="http://kantengri.blogspot.com/"
                                style="text-decoration:none"><span
                                    class="InternetLink">kantengri.blogspot.com</span></a></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:51.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p style="margin-bottom:0pt; text-align:justify; font-size:10pt"><span
                                style="font-family:Arial">Github</span></p>
                    </td>
                    <td style="width:119.8pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p class="Default" style="margin-bottom:0pt"><a href="https://github.com/aparfenov2"
                                style="text-decoration:none"><span class="InternetLink">github.com/aparfenov2</span></a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:51.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p style="margin-bottom:0pt; text-align:justify; font-size:10pt"><span
                                style="font-family:Arial">Telegram</span></p>
                    </td>
                    <td style="width:119.8pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                        <p class="Default" style="margin-bottom:0pt"><span>@aparfenov2</span></p>
                    </td>
                </tr>
            </table>
        </div>
        <p
            style="margin-bottom:0pt; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; -aw-border-bottom:0.5pt single">
            <span style="font-family:Arial; font-weight:bold">Кратко о себе:</span></p>
        <p style="margin-bottom:0pt; line-height:normal; font-size:10pt"><span
                style="font-family:Arial; -aw-import:ignore">&#xa0;</span></p>
        <table cellspacing="0" cellpadding="0" class="TableGrid"
            style="width:531.75pt; margin-bottom:0pt; -aw-border-insideh:0.5pt single #000000; -aw-border-insidev:0.5pt single #000000; border-collapse:collapse">
            <tr style="height:31pt">
                <td style="width:245.65pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <ul type="disc" style="margin:0pt; padding-left:0pt">
                        <li
                            style="margin-left:27.6pt; margin-bottom:6pt; padding-left:8.4pt; font-family:serif; font-size:10pt; -aw-font-family:'Symbol'; -aw-font-weight:normal; -aw-number-format:''">
                            <span style="font-family:Arial">Более 10 лет в разработке ПО</span></a></li>
                        <li
                            style="margin-left:27.45pt; margin-bottom:6pt; padding-left:8.25pt; font-family:serif; font-size:10pt; -aw-font-family:'Symbol'; -aw-font-weight:normal; -aw-number-format:''">
                            <span style="font-family:Arial">Разработка системного ПО</span></li>
                    </ul>
                </td>
                <td style="width:262.45pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <ul type="disc" style="margin:0pt; padding-left:0pt">
                        <li
                            style="margin-left:27.45pt; margin-bottom:6pt; padding-left:8.25pt; font-family:serif; font-size:10pt; -aw-font-family:'Symbol'; -aw-font-weight:normal; -aw-number-format:''">
                            <span style="font-family:Arial">Языки: Java, C/C++, Python, C#</span></li>
                        <li
                            style="margin-left:27.45pt; margin-bottom:6pt; padding-left:8.25pt; font-family:serif; font-size:10pt; -aw-font-family:'Symbol'; -aw-font-weight:normal; -aw-number-format:''">
                            <span style="font-family:Arial">Языки: Русский; Английский, IELTS 6</span></li>
                    </ul>
                </td>
            </tr>
        </table>
        <p style="margin-bottom:0pt; line-height:normal"><span
                style="font-family:Arial; font-weight:bold; -aw-import:ignore">&#xa0;</span></p>
        <p style="margin-bottom:0pt; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt"><span
                style="font-family:Arial; font-weight:bold">Трудовая история:</span></p>
        <p class="Textbody" style="margin-left:36pt; font-size:10pt; background-color:transparent"><span
                style="font-family:Arial; font-weight:normal; font-style:normal; -aw-import:ignore">&#xa0;</span></p>
        <p class="Textbody" style="margin-left:36pt; font-size:10pt; background-color:transparent"><span
                style="font-family:Arial; font-weight:normal; font-style:normal; -aw-import:ignore">&#xa0;</span></p>


        {% for wrk in work %}
        <table cellspacing="0" cellpadding="0" style="width:450.25pt; margin-bottom:0pt; border-collapse:collapse">
            <tr style="height:19.35pt">
                <td style="width:219.6pt; padding:2.75pt; vertical-align:top">
                    <p class="Default" style="margin-bottom:2pt; font-size:12pt"><span
                            style="font-weight:bold; -aw-import:ignore">&#xa0;</span></p>
                    <p class="Default" style="margin-bottom:2pt; font-size:12pt"><span
                            style="font-weight:bold">{{wrk.name}}</span></p>
                </td>
                <td style="width:219.6pt; padding:2.75pt; vertical-align:bottom">
                    <p style="text-align:right; line-height:115%; font-size:11pt"><span class="InternetLink"
                            style="text-decoration:none; -aw-import:ignore">&#xa0;</span></p>
                </td>
            </tr>
            <tr style="height:18.9pt">
                <td style="width:219.6pt; padding:2.75pt; vertical-align:top">
                    <p class="Default" style="margin-bottom:2pt"><span
                            style="font-weight:bold; font-style:italic">{{wrk.position}}</span></p>
                    <p class="Default" style="margin-bottom:2pt"><span
                            style="font-style:italic; -aw-import:ignore">&#xa0;</span></p>
                </td>
                <td style="width:219.6pt; padding:2.75pt; vertical-align:top">
                    <p class="TableContents"
                        style="margin-bottom:2pt; text-align:right; font-size:10pt; background-color:transparent"><span
                            style="font-family:Arial; font-weight:normal">{{jmeta.date.strptime(wrk.startDate, '%Y-%m-%d').strftime('%b %Y')}} – {{jmeta.date.strptime(wrk.endDate, '%Y-%m-%d').strftime('%b %Y')}}</span></p>
                </td>
            </tr>
        </table>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
        {% for highlight in wrk.highlights %}
            <li class="Textbody"
                style="margin-left:27.6pt; padding-left:8.4pt; font-family:serif; font-size:10pt; font-weight:normal; font-style:normal; background-color:transparent; -aw-font-family:'Symbol'; -aw-font-weight:normal; -aw-number-format:''">
                <span style="font-family:Arial">{{highlight}}</span></li>
        {% endfor %}
        </ul>
        <p class="Textbody" style="font-size:10pt; background-color:transparent"><span
                style="font-family:Arial; font-weight:normal; font-style:normal; -aw-import:ignore">&#xa0;</span></p>
        {% endfor %}

        {% for _ in range(5) %}
        <p style="margin-bottom:0pt; line-height:normal"><span
                style="font-family:Arial; font-weight:bold; -aw-import:ignore">&#xa0;</span></p>
        {% endfor %}

        <p
            style="margin-bottom:0pt; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; -aw-border-bottom:0.5pt single">
            <span style="font-family:Arial; font-weight:bold">Образование:</span></p>
        <p style="margin-bottom:0pt; line-height:normal"><span
                style="font-family:Arial; -aw-import:ignore">&#xa0;</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li class="ListParagraph"
                style="margin-left:27.6pt; margin-bottom:0pt; line-height:normal; padding-left:8.4pt; font-family:serif; font-size:10pt; -aw-font-family:'Symbol'; -aw-font-weight:normal; -aw-number-format:''">
                <span style="font-family:Arial; font-weight:bold">2003 – 2005 Южно-Уральский Государственный Университет</span></li>
        </ul>
        <p class="ListParagraph" style="margin-bottom:0pt; line-height:normal; font-size:10pt"><span
                style="font-family:Arial">Теория и практика Английского языка, Диплом ПП №761109</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li class="ListParagraph"
                style="margin-left:27.6pt; margin-bottom:0pt; line-height:normal; padding-left:8.4pt; font-family:serif; font-size:10pt; -aw-font-family:'Symbol'; -aw-font-weight:normal; -aw-number-format:''">
                <span style="font-family:Arial; font-weight:bold">2001 – 2005 Южно-Уральский Государственный Университет</span><br /><span style="font-family:Arial">Конструирование и Проектирование Радиоаппаратуры, Диплом ВСВ 0728434</span></li>
        </ul>
        <p style="margin-bottom:0pt; line-height:normal; font-size:10pt"><span
                style="font-family:Arial; -aw-import:ignore">&#xa0;</span></p>
        <p><span>Профессиональное обучение:</span></p>
        <table cellspacing="0" cellpadding="0" class="TableGrid"
            style="width:522.8pt; margin-bottom:0pt; -aw-border-insideh:0.5pt single #000000; -aw-border-insidev:0.5pt single #000000; border-collapse:collapse">
            <tr>
                <td colspan="2" style="width:510.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <p style="line-height:115%; font-size:10pt"><span style="font-family:Arial">2019, </span><span
                            style="font-family:Arial; font-weight:bold">Deep Learning Specialization</span><span
                            style="font-family:Arial">, @Coursera</span><br /><span
                            style="font-family:Arial">https://www.coursera.org/account/accomplishments/specialization/certificate/6WB33V3ULXKB</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:249.65pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <p style="line-height:115%; font-size:10pt"><span style="font-family:Arial">Apr 2018 - June
                            2018</span></p>
                    <p style="line-height:115%; font-size:12pt"><span style="font-weight:bold">Школа Компьютерного Зрения в 3DiVi</span></p>
                </td>
                <td style="width:249.5pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <p style="line-height:115%; font-size:10pt"><span
                            style="font-family:Arial; -aw-import:ignore">&#xa0;</span></p>
                </td>
            </tr>
            <tr>
                <td style="width:249.65pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <p style="line-height:115%; font-size:12pt"><span
                            style="line-height:115%; font-family:Arial; font-size:10pt">2017, </span><span
                            style="font-weight:bold">IELTS Certificate</span></p>
                </td>
                <td style="width:249.5pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <p style="line-height:115%; font-size:11pt"><span>уровень 6</span></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width:510.95pt; padding-right:5.4pt; padding-left:6.4pt; vertical-align:top">
                    <p style="line-height:115%; font-size:10pt"><span
                            style="font-family:Arial; -aw-import:ignore">&#xa0;</span></p>
                </td>
            </tr>
        </table>
        <p style="margin-bottom:0pt; line-height:normal"><span style="-aw-import:ignore">&#xa0;</span></p>
    </div>
</body>

</html>
